/* Catppuccin Macchiato */

* {
  background-alt:      #24273aff;
  background:      #24273aff;
  selected:      #f4dbd6ff;
  foreground:      #cad3f5ff;
  border:  #00000000;
  ac:      #b7bdf8ff;
  red:     #ed8796ff;
  green:   #a6da95ff;
  yellow:  #eed49fff;
  blue:    #8aadf4ff;
  purple:  #c6a0f6ff;
  cyan:    #8bd5caff;
}
